* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  list-style-type: none;
  scroll-behavior: smooth;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

body {
  background-color: var(--white);
  color: var(--text);
  // overflow-y: hidden;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  background: tr;

  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue-main);
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
}

html {
  font-size: 87.5%;
}

:root {
  --white: #ffffff;
  --blue-light: #33bcff;
  --blue-main: #112e5c;
  --blue-dark: #05152e;
  --secundary: #f0f0f7;
  --deg-light: #2edee4;
  --deg-dark: #33bcff;
  --gray-light: #e6e6e6;
  --gray: #e6e6e6;
  --gray-dark: #303030;

  --text: #303030;
  --title: #525252;
}
@media (min-width: 768px) {
  html {
    font-size: 93.75%;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }
}
